body {
  background-image: url("./minimalism-gears-hands-numbers-black-background-hd-wallpaper-preview.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.clock {
  display: flex;
  justify-content: center;
  font-size: 10rem;
  margin-top: 10%;
  font-family: "Bungee Spice";
}

.date {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-family: "Bungee Spice";
}
